html{height:100%; width:100%;}
body{height:100%; width:100%;}

/* Text */
h2{font-size:28px; font-family:/*Digital,'Iceland',*/'Roboto',Arial,sans-serif; font-weight:normal; text-align:left; padding: 20px 0 20px 0;}
h3{font-size:18px; font-family:'Roboto',Arial,sans-serif; font-weight:bold; text-align:left; padding: 10px 0 10px 0;}
p{font-size:16px; font-family:'Roboto',Arial,sans-serif; font-weight:normal; text-align:left; padding: 4px 0 10px 0; line-height:24px;}
a{font-size:16px; font-family:'Roboto',Arial,sans-serif; font-weight:normal; color:#48D456;}
b{font-weight:bold;}

/* Header */
header{width:100%; background-color:#48D456; box-shadow: 0 2px 5px rgba(0,0,0,0.26); position: fixed; left:0; top: 0; z-index:2;}
#gearLogo{padding:10px; float:left; height:30px;}
#textLogo{padding:15px 0 15px 0; float:left; height:20px;}

/* Navigation */
nav{display:inline-block; padding:17px; float:right;}
nav ul{margin:0; padding:0;}
nav li{list-style-type:none; display:inline;}

nav a{font-family:'Roboto',Arial,sans-serif; font-size:15px; text-decoration:none; color:white;/*#DA251D;*/ padding-left:18px; padding-right:20px; text-transform:uppercase;}

nav a:hover{color:#C8F0CC;/*#DA251D;*/}
.pressed{color:#C8F0CC;/*#DA251D;*/ /*border-bottom: 2px solid #C8F0CC;*/}

/* Banner */
#banner{width:100%; padding:0; margin-top:20px; margin-bottom:15px;}

/* Horizontal Line */
hr{display:block; height:3px; width:100%; background-color:#48D456; border:none; clear:both;}

/* Breaks */
.clearBoth{clear:both;}
.spacer{height:1em; clear:both; width: 100%; margin:0; padding:0;}
.spacerX2{height:2em; clear:both; width: 100%; margin:0; padding:0;}

/* Welcome */
#welcome{text-align:center; font-family:'Roboto',Arial,sans-serif; font-size:18px;}
#welcome blockquote{margin-bottom:30px; font-size:20px;}

/* Body content */
#bodyContent {text-align:center; height:100%; width:100%;}
/* - Frames */
#bodyContent #articles{display:none; height:100%; width:100%;}
#bodyContent .articleFrame{height:99%; width:90%; overflow:scroll;}
#bodyContent #backbuttoncontainer{display:none;}
#bodyContent #backbutton{display:inline-block; padding:5px 10px; background-color:#48D456; box-shadow: 0 2px 5px rgba(0,0,0,0.26); position:absolute; bottom:10px;}
#bodyContent #backbutton a{color:white; text-decoration:none; text-transform:uppercase;}
#bodyContent .connectButton{margin:20px; position:relative; bottom:930px;}
#bodyContent .connectForm{/*position:relative; bottom:50px;*/ margin:30px 0 0 0; width:760px; height:980px;}
/* - Content */
#bodyContent ul{margin:0 0 0 20px; display:inline-block; font-family:'Roboto',Arial,sans-serif; list-style-type:square;}
#bodyContent .imageGallery{float:right; margin-left:15px; margin-bottom:15px;}
#bodyContent .imageGallery img{margin:10px;}
#bodyContent .imageGallery iframe{margin:10px;}
#bodyContent .rotator{float: none; clear:both; text-align: center; width:100%; margin:40px 0 0 0;}
#bodyContent .alignLeft{float:left;}
#bodyContent .imgBorder{border:2px solid #48D456;}
#bodyContent .linkBorder{border:2px solid #48D456;}
#bodyContent .linkBorder:hover{border:2px solid #C8F0CC;}
/* - Content Type */
#bodyContent #tiles{padding:80px 0 60px 0;}
#bodyContent #text{padding:60px 0 60px 0; width:90%; display:inline-block;}
/* - Cards */
#bodyContent .card{height:160px; margin:8px 6px; box-shadow:1px 2px 8px gray; border-radius:2px; display:inline-block; background-repeat: no-repeat;}
#bodyContent .cardimg{height:100px; padding:0; color: black; background-color: white; border-radius:2px 2px 0 0;}
#bodyContent .cardimg img{height:100%;}
#bodyContent .cardtitle{height:40px; padding:10px; color: black; background-color: white; border-radius:0 0 2px 2px; border-top: 1px solid rgba(0,0,0,0.20);}
#bodyContent .card h3{font-size:18px; font-family:'Roboto',Arial,sans-serif; font-weight:bold; text-align:center; padding:0; text-decoration:none;}
/* - Tiles */
#bodyContent .tile{width:180px; height:180px; margin:2px 0; border-radius:0; display:inline-block; background-repeat:no-repeat; /*border:1px solid rgba(120,120,120, .9);*/}
#bodyContent .tiletitle{width:160px; height:40px; padding:10px; position:relative; top:120px; color: white; background:rgb(128,128,128); background:rgba(120,120,120, .8);}
#bodyContent .tile h3{font-size:18px; font-family:'Roboto',Arial,sans-serif; font-weight:bold; text-align:center; padding:0; text-decoration:none;}
/* - Tables */
#bodyContent table{font-family:Arial,sans-serif; border-collapse:collapse; width:700px}
#bodyContent th{border:2px solid #48D456; background-color:#C8F0CC; padding:4px;}
#bodyContent td{border:2px solid #48D456; padding:.25em;}

/* Decriptions of website pages */
#pageLinks{width:100%; text-align:center;}
/*#pageLinks a{text-decoration:none; color:black;}
#pageLinks p{font-family:'Roboto',Arial,sans-serif; font-size:13px;}
#pageLinks h2{font-size:20px;}
#pageLinks img{border:8px solid white; border-radius:10px 10px; box-shadow:3px 3px 10px black;}
#pageLinks img:hover{box-shadow:3px 3px 10px gray;}
#pageLinks .imgText{width:192px; height:82px; border:8px solid white; border-radius:10px 10px; box-shadow:3px 3px 10px black;}
#pageLinks .imgText:hover{box-shadow:3px 3px 10px gray;}
.pageDescription{display:inline-block; margin-left:5px; margin-right:5px; width:192px; padding:.8px; text-align:center;}/*background-color:#C8F0CC;}*/
/*.pageDescription2{display:inline-block; margin-left:15px; margin-right:15px; padding:5px; text-align:center;}

/* News feeds */
#newsFeeds{width:100%; padding:30px;}
.newsFeed{padding:10px; width:360px; height:400px; float:left; display:inline-block;}



/* Footer */
footer{display:inline-block; position:fixed; right:10px; bottom:10px;}
footer img{margin:0 0 0 6px;}

@media screen and (max-width: 915px) {
    #textLogo{display: none;}
}

@media screen and (max-width: 670px) {
    #textLogo{display: block;}
	#bodyContent #tiles{padding-top:160px;}
}